body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* centro orizzontale */
    align-items: center;     /* centro verticale */
    background-color: grey;
    font-family: sans-serif;
}

#canvasContainer {
    display: flex;            /* canvas e controlli affiancati */
    gap: 20px;                /* spazio tra canvas e controlli */
    align-items: flex-start;  /* allinea in alto */
    background-color: white;
}

canvas {
    background-color: white;
    border: 2px solid black;
}


#controls {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#controls label {
    font-size: 14px;
}
#controls input {
    width: 60px;
}